@import '../../../assets/scss/mixin';

.container {
    @include breakpoint(sm, minmax) {
        @include fullScreen();
        display: block;
        position: relative;
        overflow: hidden;

        .div1 {
            @include fillBox();
            background-color: var(--wall1-color1);
            z-index: 1;
        }

        .div2 {
            @include box(900px, 400px);
            @include absolute(unset, 20%, -12%, unset);
            transform: rotate(45deg);
            background-color: var(--wall1-color3);
            z-index: 2;
            box-shadow: 0px 0px 5px 1px black;
        }

        .div3 {
            // width: 600px;
            // height: 1112px;
            // position: absolute;
            // top: -264px;
            @include box(1112px, 600px);
            @include absolute(-264px, unset, unset, -210px);
            transform: rotate(45deg);
            background-color: var(--wall1-color2);
            z-index: 3;
            box-shadow: 0px 0px 5px 1px black;
        }

        .div4 {
            @include box(543px, 60px);
            @include absolute(unset, 40px, -104px, unset);
            transform: rotate(45deg);
            background-color: var(--wall1-color5);
            z-index: 4;
            box-shadow: 0px 0px 5px 1px black;
        }

        .div5 {
            @include box(780px, 100px);
            @include absolute(unset, 7%, -19%, unset);
            transform: rotate(45deg);
            background-color: var(--wall1-color4);
            z-index: 4;
            box-shadow: 0px 0px 5px 1px black;
        }
    }



}