@import './assets/scss/reset';
@import './assets/scss/mixin';
@import './assets/scss/variables';

:root {
    --wall1-color1: #004555;
    --wall1-color2: #005a66;
    --wall1-color3: #007d83;
    --wall1-color4: #00b0a9;
    --wall1-color5: #00f5d7;
}